@model List<Book>

<p>Here are Bob's favorite books:</p>
@{
  foreach(Book book in @Model)
  {
    <p>@book.BookId -- @book.Title -- @book.Author -- @book.ReleaseYear | <a href="/remove/@book.BookId">Remove Book</a></p>
  }
}