@model Dashboard

<h1>Welcome @Model.CurrentUser.FirstName!</h1>
<hr>
<partial name="_bobsFavorites" model="@Model.CurrentUser.FavoriteBooks"></partial>
<hr>
<partial name="_library" model="@Model.Library"></partial>
